.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header-content {
  background-color: #ffffff;
  padding: 20px;
}

.App-main-content {
  background-color: #f4f5f8;
  padding: 20px;
  height: 100%;
  /* display: flex; */

  overflow: auto;
  white-space: nowrap;
}

.Cards-container {
  margin: 20px;
  width: 400px;

  display: inline-block;
  vertical-align: top;
}

.Card-group-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.Ticket-card-container {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Title-id-with-avatar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.Ticket-description-with-icon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.Ticket-description {
  font-weight: 600;
  white-space: normal;
  max-width: 320px;
}

.Ticket-priority-with-tags {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.Ticket-priority,
.Ticket-tag {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 2px 4px;
}

.Ticket-tag {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.Ticket-id {
  color: gray;
}

.filter-display-wrapper {
  position: relative;
  display: inline-block;
}

.filter-display-trigger {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid gray;
}

.filter-display-content-wrapper {
  z-index: 1000;
  padding-top: 10px;
  position: absolute;
}

.filter-display-content {
  padding: 10px;
  background-color: #f8f8fa;
  width: 240px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.filter-display-item {
  display: flex;
  justify-content: space-between;
  margin: 12px 8px;
}

select {
  padding: 2px 4px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 4px;
}

.card-group-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ticket-count {
  color: gray;
}

.Card-group-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.user-status {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: gray;

  border: 1px solid white;
  position: absolute;
  bottom: -1px;
  right: 0;
}

.user-status.available {
  background-color: green;
}

.user-status.not-available {
  background-color: orange;
}

.user-img-with-status {
  display: flex;
  position: relative;
}
